[Desktop Entry]
Name=argFriendlyName
Comment=argFriendlyName Application
Exec=argTarget
Icon=icon.png
Terminal=false
Type=Application
Categories=Development;
