[Desktop Entry]
Name=argFriendlyName
Comment=argFriendlyName
Exec=/opt/argPacketName/argTarget
Icon=/usr/share/icons/icon.png
Terminal=false
Type=Application
Categories=Development;
